# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
# .env

# Virtualenv
venv/

# VS Code
.vscode/

# MacOS
.DS_Store
